* {
  font-family: "Roboto Slab", serif;
}
p img,h3 img{
  width:100%;
}
ul {
  list-style-type: none;
}
.container-md {
  padding: 0;
  transition: 0.2s;
  background: rgb(240, 240, 240);
  color: black;
}
a {
  text-decoration: none !important;
}

.dropdown-multicol2 {
  width: 100%;
}
.dropdown-multicol2 > .dropdown-col {
  display: inline-block;
  width: 19%;
  height: 100%;
}
nav {
  padding: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  background-color: black;
  margin-bottom: 20px;
}
ul.navbar-nav {
  display: flex;
  justify-content: space-between;
}
ul.navbar-nav li.nav-item {
  padding: 10px 0 10px 0;
  margin-right: 20px;
}
ul.dropdown-menu li.dropdown-col a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre-wrap;
}
ul.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: white;
}
#nav-bar-right {
  width: 50%;
  display: flex;
  position: absolute;
  top: 18px;
  right: 10px;
  justify-content: flex-end;
  align-items: center;
}
input[type="text"] {
  width: 0px;
  padding: 0;
  border: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.col-lg-8 {
  padding: 0 !important;
}
#nav-bar-right i:hover {
  cursor: pointer;
}
li.nav-item > .dropdown-menu {
  opacity: 0;
  display: block;
  visibility: hidden;
  z-index: 1;
  transition: 0.5s;
}
li.nav-item:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  height: auto;
}
#news {
  transform: translateX(25%);
}

@media (max-width: 993px) {
  .dropdown-menu {
    display: none !important;
  }
  .navbar-toggler {
    position: absolute;
    z-index: 2;
    width: 43px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    left: 12%;
    top: 10px;
  }
  .list-group-item{
    transform:translateX(2%);
  }
  #big-img h3{
    margin-top: 30px!important;
  }
  #footer div{
    display:none;
  }
}

#footer {
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
#footer p{
  margin:0;
}
#footer img {
  margin: 0 5% 0 5%;
}
#footer div {
  position: absolute;
  right: 15%;
}
#footer h6 {
  color: white;
}
#footer a {
  display: flex;
}
#footer i {
  width: 30px;
  transform: translateY(2px);
}

/* main content and so on */
#big-img {
  padding: 5%;
  width: 100%;
  margin: 0 0 40px 0;
  color: white;
  background-color: black;
}
#big-img img {
  width: 100%;
  height:50vh;
}
#big-img p{
  margin-left:0;
}
#big-img h3{
  margin-top: 0px;
}
p {
  line-height: 2;
  margin: 0 0 5% 5%;
}
.row {
  width: 100% !important;
}
.list-group-item {
  padding: 0;
  border-radius: 25px !important;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
}
#side-ul {
  padding: 0;
}
div#detail-content .col-lg-8 {
  padding: 0 5% 0 3% !important;
}
#side-ul a {
  margin-bottom: 35px;
}
#side-ul p {
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
  left: 3%;
  z-index: 1;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.list-group img {
  transition: 0.7s !important;
  transition-delay: 0.1s !important;
}

.list-group img:hover {
  transform: scale(1.1) !important;
}
