* {
  font-family: "Roboto Slab", serif;
}
ul {
  list-style-type: none;
}

.container-md {
  padding: 0;
  transition: 0.2s;
  background: rgb(240, 240, 240);
  color: black;
}

a {
  text-decoration: none !important;
}

.dropdown-multicol2 {
  width: 100%;
}
.dropdown-multicol2 > .dropdown-col {
  display: inline-block;
  width: 19%;
  height: 100%;
}
nav {
  padding: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  background-color: black;
}
ul.navbar-nav {
  display: flex;
  justify-content: space-between;
}
ul.navbar-nav li.nav-item {
  padding: 10px 0 10px 0;
  margin-right: 20px;
}
ul.dropdown-menu li.dropdown-col a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre-wrap;
}
ul.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: white;
}
#nav-bar-right {
  width: 50%;
  display: flex;
  position: absolute;
  top: 18px;
  right: 10px;
  justify-content: flex-end;
  align-items: center;
}
input[type="text"] {
  width: 0px;
  padding: 0;
  border: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#nav-bar-right i:hover {
  cursor: pointer;
}
li.nav-item > .dropdown-menu {
  opacity: 0;
  display: block;
  visibility: hidden;
  z-index: 1;
  transition: 0.5s;
}
li.nav-item:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  height: auto;
}
#news {
  transform: translateX(25%);
}

#main-content {
  padding: 10px 5% 10px 5%;
}
.carousel-inner .carousel-item a {
  display: block;
}
.carousel-inner img{
  width: 100%;
  max-height:578px!important;
}
.carousel-inner .carousel-item h3 {
  position: absolute;
  bottom: 10%;
  left: 3%;
  z-index: 1;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-inner {
  border-radius: 25px;
  margin-bottom: 2vh;
}
#side-ul img{
  max-height: 182.538px;
}
@media(max-width: 1200px){
  .carousel-inner img{
    width: 100%;
    max-height:486px!important;
  }
  #side-ul img{
    max-height: 152.2px;
  }
  h3{
    font-size:1.5rem;
  }
}
@media (max-width: 993px) {
  .dropdown-menu {
    display: none !important;
  }
  .navbar-toggler {
    position: absolute;
    z-index: 2;
    width: 43px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    left: 12%;
    top: 10px;
  }
  #footer div{
    display: none;
  }
  .carousel-inner img{
    width: 100%;
    max-height:364.5px!important;
  }
  #side-ul img{
    max-height: 111.762px;
  }
  h3{
    font-size:1rem;
  }

}
@media (max-width:736px){
  #big-img img{
    min-width:92.4%;
  }
  #side-ul p{
    font-size:7.5px!important;
  }
  #content-2 p{
    font-size:10px!important;
  }
  .carousel-inner img{
    width: 100%;
    max-height:28vh!important;
  }
}
#big-img {
  position: relative;
  overflow: hidden;
  display: absolute;
  left: 0;
  border-radius: 25px;
  padding: 0;
}
#big-img a {
  display: block;
  width: 100%;
  height: auto;
}
#big-img h3 {
  position: absolute;
  bottom: 10%;
  left: 3%;
  z-index: 1;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
#big-img img {
  transition: 0.7s;
  transition-delay: 0.1s;
}
#big-img img:hover {
  transform: scale(1.05);
}
#content-1 {
  margin: 5% 0 0 0;
}
.list-group-item {
  padding: 0;
  border-radius: 25px !important;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
}
#content-2 a div{
  min-width: 173px;
}
.list-group img{
  width: 100%;
  height:100%;
}
#side-ul {
  padding-right: 0;
}
#side-ul p {
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
  left: 3%;
  z-index: 1;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.list-group img {
  transition: 0.7s !important;
  transition-delay: 0.1s !important;
}

.list-group-item:hover img{
  transform: scale(1.1) !important;  
}

#content-2 {
  margin: 5% 0 0 0;
}
#content-2 img {
  width: 100%;
}
#content-2 p {
  margin-left: 10%;
  align-self: center;
  color: black;
}
#content-2 a {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-right: 5%;
}
#content-2 a div {
  overflow: hidden;
  width: 20%;
}

#footer {
  width: 100%;
  height: 20vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
#footer img {
  margin: 0 5% 0 5%;
}
#footer div {
  position: absolute;
  right: 15%;
}
#footer h6 {
  color: white;
}
#footer a {
  display: flex;
}
#footer i {
  width: 30px;
  transform: translateY(2px);
}
#footer p{
  margin:0;
}
